/* * {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0; */


}
body: {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}
header {
    background-color: #ffffff;
    margin: 34px 60px 0;
}
.upper {
    margin: auto;
    position: relative;
    margin-top: 30px;
    height: 90px;
    ;
}
div .logo {
    display: inline-block;
    margin: 0;
    margin-top: 20px;
    margin-left: 15px;
}
.logo img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.logo p {
    display: inline-block;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    vertical-align: middle;
    position: none;
    /* не работает, p выпадает */
}
.contact {
    display: inline-block;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    font-size: 14px;
    font-weight: 400;
    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
    border-color: #e1e9f2;
    padding: 10px;
    width: 40%;
    text-align: right;
}
.contact .v_line {
    width: 1px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    background-color: #e1e9f2;
}
.contact a {
    font-family: "Open Sans";
    font-size: 14px;
    color: #9ba4b0;
    text-decoration: none;
}
.contact span {
    font-family: "Open Sans";
    font-size: 14px;
    color: #484e57;
    font-weight: 400;
    text-decoration: none;
}
.contact li {
    display: inline-block;
    padding: 0 15px;
}

/*------navigation------*/
.navigation {
    margin: auto;
    background-color: #ff8261;
}
.navigation ul {
    font-size: 0;
    text-align: center;
    height: 56px;
    line-height: 56px;
    box-sizing: border-box;
    padding-left: 0;
}
.navigation li {
    display: inline-block;
    height: 56px;
    line-height: 56px;
}

/*-------нижняя панель------*/

.navigation li:nth-child(1) {
    display: inline-block;
    width:8%;
}

.navigation li:nth-child(2) {
    display: inline-block;
    width:10%;
}

.navigation li:nth-child(3) {
    display: inline-block;
    width:10%;
}

.navigation li:nth-child(4) {
    display: inline-block;
    width:12%;
}

.navigation li:nth-child(5) {
    display: inline-block;
    width:10%;
}

.navigation li:nth-child(6) {
    display: inline-block;
    width:8%;
}

.navigation li:nth-child(7) {
    display: inline-block;
    width:12%;
}

.navigation li:nth-child(8) {
    display: inline-block;
    width:8%;
}

.navigation li:nth-child(9) {
    display: inline-block;
    width:10%;
}

.navigation li:nth-child(10) {
    display: inline-block;
    width:12%;
}

.navigation li a:active {
background-color: #52cbf8;
}

/*-------нижняя панель------*/

.navigation a {
    display: block;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    height: 56px;
    line-height: 56px;
    letter-spacing: 0.1em;
    
}

/*------awesome hosting section------*/
.hosting {
    background-color: #222836;
    padding-top: 378px;
    padding-bottom: 139px;
    position: relative;
}
.hosting h2 {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}
.hosting span:first-child {
    font-size: 40px;
    font-weight: 700;
}
.hosting span:last-child {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.1em;
    /* не факт */
}
.dots {
    position: absolute;
    width: 50px;
    left: 47%;
    bottom: 10%;
}

/*---------------search-----------------*/
.section3 {
    background-color: #e7f4f8;
    text-align: center;
}
.center {
    margin: auto;
    padding-top: 41px;
    padding-bottom: 77px;
    display: inline-block;
}
.search {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-right: 29px;
}
#first_form {
    display: inline-block;
    vertical-align: middle;
}
.search i {
    color: #fb6b45;
    font-size: 27px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 12px;
}
.search span {
    text-transform: uppercase;
    color: #859aa1;
    font-size: 18px;
    font-weight: 400;
}
.search span:last-child {
    color: #556b72;
    font-size: 30px;
    font-weight: 700;
}
#first_form input[type="text"] {
    color: #a0a9b6;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    width: 430px;
    height: 55px;
    border: 1px solid #dfeef3;
    background-color: #ffffff;
    box-sizing: border-box;
    padding-left: 10px;
    margin-right: 10px;
}
#first_form .years {
    box-sizing: border-box;
    width: 165px;
    height: 55px;
    border: 1px solid #dfeef3;
    background-color: #ffffff;
    margin-right: 10px;
    color: #a0a9b6;
    font-size: 14px;
    font-weight: 400;
}
#first_form .domain {
    width: 165px;
    height: 55px;
    border: 1px solid #dfeef3;
    background-color: #ffffff;
    margin-right: 9px;
    color: #a0a9b6;
    font-size: 14px;
    font-weight: 400;
}
#first_form input[type="submit"] {
    width: 196px;
    height: 55px;
    background-color: #ff8261;
    border: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

/*-------section Benefits---------*/
.benefits {
    margin-bottom: 114px;
}
.benefits .line {
    width: 21px;
    height: 2px;
    background-color: #fb6b45;
    margin-bottom: 12px;
}
.benefits div+span {
    text-transform: uppercase;
    color: #859aa1;
    font-size: 18px;
    font-weight: 400;
}
.benefits h2 span:last-child {
    text-transform: uppercase;
    color: #556b72;
    font-size: 30px;
    font-weight: 700;
}
.benefits .container {
    margin: 71px 60px 15px;
}
.benefits ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.benefits ul li img {
    padding-top: 10px;
    width: 69px;
    height: 56px;
    color: #fb6b45;
}
.benefits ul li:nth-child(3) {
    margin-right: 0;
}
.benefits ul li:nth-child(6) {
    margin-right: 0;
}
.benefits ul li {
    display: inline-block;
    width: 30%;
    margin-right: 2.5%;
}
.benefits .container li:first-child img {
    float: left;
}
.benefits .container li:first-child div {
    width: 70%;
    float: right;
}
.benefits .container li i {
    padding-top: 12px;
    display: block;
    width: 20%;
    float: left;
    color: #fb6b45;
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
}
.benefits .container li div {
    width: 70%;
    float: right;
}
.benefits .container li div h3 {
    color: #556b72;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 31px;
    text-transform: uppercase;
}
.benefits .container li div p {
    color: #a0a9b6;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/*-------What is hot-------*/

/*-------Left container-------*/
.hot {
    padding: 0;
    margin: 0;
    font-size: 0;
    background-color: #fffbde;
}
.hot .line {
    width: 21px;
    height: 2px;
    background-color: #fb6b45;
    margin-bottom: 12px;
}
.hot div+span {
    text-transform: uppercase;
    color: #859aa1;
    font-size: 18px;
    font-weight: 400;
}
.hot h2 span:last-child {
    text-transform: uppercase;
    color: #556b72;
    font-size: 30px;
    font-weight: 700;
}
.left_article {
    width: 41.7%;
    background-color: #fffbde;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}
.right_article {
    width: 58.3%;
    background-color: #fffbde;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
.left_container {
    display: inline-block;
    text-align: left;
    margin-right: 7.2%;
    margin-top: 90px;
    margin-bottom: 130px;
}
.hot h2 {
    margin-bottom: 61px;
}

/*-------Right container-------*/
.right_container {
    display: inline-block;
    text-align: left;
    margin-left: 6.9%;
    margin-top: 90px;
    margin-bottom: 118px;
}
.right_container ul {
    list-style: none;
    display: inline-block;
    font-weight: 400;
    color: #4c515b;
    font-size: 14px;
}
.right_container ul:first-child {
    padding-left: 0;
}
.right_container li:first-letter {
    font-weight: 700;
}
.right_container button {
    display: inline-block;
    width: 72px;
    height: 10px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    width: 165px;
    height: 55px;
    background-color: #ff8261;
    border: none;
    margin-left: 5px;
}

/*-------our hosting----------*/
.our_hosting {
    background-color: #ffffff;
}
.our_hosting h3 {
    text-align: center;
}
.our_hosting>div {
    width: 90%;
    margin: 87px auto;
    /*------ошибки----*/
}
.our_hosting .line {
    width: 21px;
    height: 2px;
    background-color: #fb6b45;
    margin-bottom: 12px;
}
.our_hosting div+span {
    text-transform: uppercase;
    color: #859aa1;
    font-size: 18px;
    font-weight: 400;
}
.our_hosting h2 span:last-child {
    text-transform: uppercase;
    color: #556b72;
    font-size: 30px;
    font-weight: 700;
}
.our_hosting ul {
    padding: 0;
}
.our_hosting ul li {
    display: inline-block;
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid #e1eff4;
    width: 20%;
    margin-right: 4%;
}
.our_hosting ul li:last-child {
    margin-right: 0;
}
.our_hosting ul li p {
    color: #8d9198;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.our_hosting ul li hr {
    background-color: #e9eef2;
}
.our_hosting ul li h3 span:first-child {
    color: #556b72;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 300;
}
.our_hosting ul li h3 span:nth-child(2) {
    color: #556b72;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
}
.our_hosting ul li h3 span:nth-child(3) {
    color: #556b72;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}
.our_hosting .blue {
    margin: auto;
    width: 183px;
    height: 39px;
    background-color: #52cbf8;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
    padding-top: 6px;
    box-sizing: border-box;
    text-align: center;
}
.our_hosting .separated {
    width: 90%;
}
.our_hosting .orange {
    width: 115px;
    height: 43px;
    background-color: #ff8261;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px auto;
    box-sizing: border-box;
    text-align: center;
    padding-top: 12px;
}

/*-------------Contact us----------------*/
.contact_us {
    background-color: #222836;
    box-sizing: border-box;
    height: 270px;
    padding-top: 104px;
}
.contact_us h2 {
    margin: auto 60px;
    font-family: "Open sans", sans-serif;
}
.contact_us h2 span:first-child {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
}
.contact_us h2 span:last-child {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.1em;
}

/*-------------Contact form----------------*/
.contact_form {
    margin-left: 60px;
    margin-right: 60px;
}
.contact_form h3 {
    text-align: center;
}
.contact_form>div {
    width: 586.8px;
    
}
.contact_form .line {
    width: 21px;
    height: 2px;
    background-color: #fb6b45;
    margin-bottom: 12px;
}
.contact_form div+span {
    text-transform: uppercase;
    color: #859aa1;
    font-size: 18px;
    font-weight: 400;
}
.contact_form h2 span:last-child {
    text-transform: uppercase;
    color: #556b72;
    font-size: 30px;
    font-weight: 700;
}
.contact_form {
    margin-top: 64px;
}
.contact_form h2 {
    margin-bottom: 30px;
}

.contact_form input[type="text"],
.contact_form input[type="email"],
.contact_form 
input[type="tel"]{
    width: 559px;
    height: 46px;
    border: 1px solid #dfecf0;
    background-color: #ffffff;
    padding-left: 25px;
    color: #a0a9b6;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 9px;
}

.contact_form textarea {
    border: 1px solid #dfecf0;
    background-color: #ffffff;
    padding-left: 25px;
    color: #a0a9b6;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 9px;
    padding-top: 10px;
}

.contact_form fieldset {
width: 30%;
    border: 1px solid #dfecf0;
    background-color: #ffffff;
    padding-left: 25px;
    color: #a0a9b6;
    font-size: 14px;
    font-weight: 400;
    -webkit-margin-start: 0;
    margin-bottom: 13px;
}

.contact_form fieldset legend,
.contact_form fieldset span {
    color: #a0a9b6;
    font-size: 16px;
    font-weight: 400;
}

#last_p {
color: #a0a9b6;
    font-size: 16px;
    font-weight: 400;
}

.submit_container {
    text-align: right;
}

#submit_form {
width: 118px;
height: 44px;
background-color: #fb6b45;
    color: #ffffff;
font-size: 13px;
font-weight: 700;
text-transform: uppercase;
    border: none;
}


/*--------------Map here----------------*/

.Map_here {
height: 394px;
    background-color: #cadee8;
    margin-top: 83px;
    vertical-align: middle;
    text-align: center;
    padding-top: 163px;
}

.Map_here div {
    display: inline-block;
}